@import 'main.less';
.container {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10vh;
  background-color: @white;
  padding-top: 10vh;
}
.header {
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
  &-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: calc(50% - 100px);
    top: -28vh;
    margin-bottom: 10vh;
  }
  &-greeting {
    margin-top: 20px;
    text-align: center;
  }
  &-emphase {
    font-size: 1.6em;
  }
}
.hr {
  width: 90%;
  margin: auto;
  border: 3px solid @gray;
}
.profile {
  width: 80%;
  margin: auto;
  padding: 30px;
}
.subtitle {
  color: @primary-color;
  margin-bottom: 30px;
}
.education {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-top: 0;
}
.list {
  width: 100%;
  height: 5vh;
  margin-bottom: 30px;
}
.year {
  float: left;
  width: 10%;
  text-align: left;
}
.intro {
  float: left;
  width: 86%;
  padding-top: 10px;
  background-color: @gray;
  font-family: @font-family;
}
.title {
  padding-left: 5px;
}
.description {
  padding: 5px;
}
